// ========================================================================
// COMPONENTS => CODE
// ========================================================================
:not(pre) > code, 
:not(pre) > kbd, 
:not(pre) > samp {
  color: var(--color-secondary);
  background: var(--color-accent);
}

pre {
  border: 0;
  border-radius: 0;
  color: #abb2bf;
  background-color: #282c34;
  padding: 0;
}

/* CUSTOM PRISM KEYWORDS */
.language-xml .token.cdata {
  color: var(--color-accent);
}

/* PRISM-TREEVIEW  */
.code-toolbar > .language-treeview {
  padding-bottom: 0.5em;
}