// ========================================================================
// COMPONENTS => CODE
// ========================================================================
:not(pre) > code, 
:not(pre) > kbd, 
:not(pre) > samp {
  color: var(--color-secondary);
  background: var(--color-accent);
}

pre {
  border: 0;
  border-radius: 0;
  color: #abb2bf;
  background-color: #282c34;
  padding: 0;
}

div.code-toolbar {
  & > .toolbar {
    right: 5px !important;
  }

  .toolbar-item + .toolbar-item {
    margin-left: 0.25rem;
  }

  & > .toolbar a,
  & > .toolbar button,
  & > .toolbar span {
    border: 0 !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
  }

  & > .toolbar span { cursor: default; }
}

div.code-toolbar > pre[class*="language-"] {
  border: 0 !important;
  border-radius: 0 !important;
  padding: 2em !important;
  margin: .5em 0 !important;
}

div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: .8em;
  padding: 0 .5em;
  background: hsla(0,0%,88%,.2);
}

.tutorial-body pre {
  padding: 2em;
}

/* CUSTOM PRISM KEYWORDS */
.language-xml .token.cdata {
  color: var(--color-accent);
}

/* PRISM-TREEVIEW  */
// .code-toolbar > .language-treeview {
//   padding-bottom: 0.5em;
// }

.command-line-prompt > span:before {
  color: var(--color-accent);
}