// settings modal

#settingsModal {
  .uk-fieldset {
    border: 1px solid #ddd;
    padding: 0 1rem;
  }

  .uk-legend {
    font-size: 0.875rem;
    width: auto;
    padding: 0 1rem;
  }

  .label-radio {
    cursor: pointer;

    &.checked {
      color: white;
      background: var(--color-primary);
    }

    // & .uk-radio { display: none; }
  }
}