// ========================================================================
// BASE => TYPOGRAPHY
// ========================================================================
/* stylelint-disable */

// LINKS
a, a:link, a:visited {
  // color: var(--color-primary);
  text-decoration: none;
  word-break: break-word;
}

a.token.url-link {
  color: #98c379;
  text-decoration: underline;
}

a:hover, 
a:link:hover, 
a:visited:hover,
.uk-link:hover {
  text-decoration: none;
}

.uk-container a {
  border-bottom: 1px solid #ddd;
}

.uk-nav a {
  border-bottom: 0;
}

.uk-container a:hover,
.uk-container a:active {
  border-bottom-color: var(--color-secondary);
}

// .uk-disabled {
//   pointer-events: auto;
// }


a.uk-disabled:hover {
  color: #1e87f0;
  border-color: #ddd;
  cursor: not-allowed;
}



/* TYPOGRAPHY */
// h1 {
// 	border-top: 4px solid #ddd;
// 	padding-top: 3.5rem;
// 	margin-top: 4rem;
// }

main > article:first-of-type > h1 {
  border: none;
  padding-top: 0;
  margin-top: 0;
}

main blockquote {
  border-left: 4px solid #ddd;
  color: #777;
  padding: 0 1rem;
}

/* TYPOGRAPHY/WORD BREAKS */
.uk-article-title,
dd.tag-source,
table td {
  word-break: break-word;
}
.description :not(pre) > code, 
.description :not(pre) > kbd, 
.description :not(pre) > samp {
  white-space: normal;
}

.uk-text-accent {
  color: var(--color-accent) !important;
}

@media screen and (min-width: 1200px) {
  /* Type breaks reset */
  .uk-article-title,
  dd.tag-source,
  table td {
    word-break: initial;
  }
  .description :not(pre) > code, 
  .description :not(pre) > kbd, 
  .description :not(pre) > samp {
    white-space: nowrap;
  }
}


p:last-child, p:only-child {
  margin-bottom: 0 !important;
}


.uk-text-small {
  :not(pre)>code, 
  :not(pre)>kbd, 
  :not(pre)>samp {
    font-size: 0.75rem;
    padding: 2px 4px;
  }
}

/* stylelint-enable */