<?js
    var data = obj;
    var self = this;
?>

<?js if (data.meta && self.outputSourceFiles) { ?>
    <h6
    id="componentSource"
    class="uk-article-meta">
        <?js= meta.shortpath ?>
    </h6>
<?js } ?>