<?js
    var data = obj;
    var self = this;
?>

<?js if (data.meta && self.outputSourceFiles) { ?>
    <h6
    id="componentSource"
    class="uk-article-exports uk-margin-remove-top">
        <?js if (data.alias) { ?>
            <?js= data.alias ?>
        <?js } else { ?>
            <?js= meta.path ?>
        <?js } ?>
    </h6>
<?js } ?>