<?js
    var data = obj;
    var self = this;
?>

<?js if (data.meta && self.outputSourceFiles) { ?>
    <p
    id="componentSource"
    class="
        uk-article-exports
        uk-text-small
        uk-margin-remove-top
        uk-margin-small-bottom
    ">
        <?js if (data.alias) { ?>
            <a href="<?js= meta.shortpath ?>" data-is="data.alias">
                <?js= self.linkto(meta.shortpath, data.alias) ?>
            </a>
        <?js } else { ?>
            <a href="<?js= meta.shortpath ?>" data-is="meta.path">
                <?js= self.linkto(meta.shortpath, meta.path) ?>
            </a>
        <?js } ?>
    </p>
<?js } ?>