<?js
    // Construct links object
    var links = {
        jsdoc:      'https://github.com/jsdoc3/jsdoc',
        docdash:    'https://github.com/clenemt/docdash'
    };

    
    // Set display name of documentation
    var docName;
    if (env.conf.docdash.project_title) {
        docName = env.conf.docdash.project_title;
    } else {
        docName = 'JS Docs';
    }
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <?js if (!env.conf.docdash) { env.conf.docdash = {}; } ?>
    <meta
    charset="utf-8">
    <meta
    http-equiv="Content-Type"
    content="text/html; charset=utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>
        <?js= (
            (env.conf.docdash.meta && env.conf.docdash.meta.title) || "Docs"
        ) ?> | <?js= title ?>
    </title>

    <?js if (env.conf.docdash.meta) { ?>
        <?js if (env.conf.docdash.meta.description) { ?>
            <meta
            name="description"
            content="<?js= env.conf.docdash.meta.description ?>" />
        <?js } ?>
        <?js if (env.conf.docdash.meta.keyword) { ?>
            <meta
            name="keywords"
            content="<?js= env.conf.docdash.meta.keyword ?>" />
            <meta
            name="keyword"
            content="<?js= env.conf.docdash.meta.keyword ?>" />
        <?js } ?>
    <?js } ?>

    <?js if (env.conf.docdash.openGraph) { ?>
        <meta
        property="og:title"
        content="<?js= env.conf.docdash.openGraph.title ?>" />
        <meta
        property="og:type"
        content="<?js= env.conf.docdash.openGraph.type ?>" />
        <meta
        property="og:image"
        content="<?js= env.conf.docdash.openGraph.image ?>" />
        <?js if (env.conf.docdash.openGraph.site_name) { ?>
            <meta
            property="og:site_name"
            content="<?js= env.conf.docdash.openGraph.site_name ?>" />
        <?js } ?>
        <meta
        property="og:url"
        content="<?js= env.conf.docdash.openGraph.url ?>" />
    <?js } ?>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/uikit.min.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>

<?js if (title != 'Home') { ?>
    <body class="jsdoc uk-offcanvas-content">
<?js } else if (title == 'Home') {  ?>
    <body class="home jsdoc uk-offcanvas-content">
<?js } ?>


<!-- TOP NAV -->
<nav
uk-navbar
class="uk-navbar-container uk-light uk-background-secondary">
<!-- uk-sticky="show-on-up:true; animation:uk-animation-slide-top;" > -->
    <div class="uk-navbar-left">
        <ul class="uk-navbar-item uk-light uk-margin-remove uk-breadcrumb uk-visible@m">
            <?js if (title != 'Home') { ?>
                <!-- <li><a href="index.html"><?js= docName ?></a></li> -->
                <li><a href="index.html"><span uk-icon="icon:home;"></span></a></li>
                <li><span class="uk-text-accent"><?js= title ?></span></li>
            <?js } else if (title == 'Home') {  ?>
                <!-- <li><span class="uk-text-accent"><?js= docName ?></span></li> -->
                <li><span class="uk-text-accent" uk-icon="icon:home;"></span></li>
            <?js } ?>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href="index.html"><?js= docName ?></a>
            </li>
            <li>
                <a
                title="Settings" 
                href="#settingsModal" 
                uk-icon="icon:cog;" 
                uk-toggle>
                </a>
            </li>
            <li>
                <button
                class="uk-navbar-toggle uk-hidden@m" 
                type="button" 
                uk-toggle="target: #offcanvas-overlay" 
                uk-navbar-toggle-icon>
                </button>
            </li>
        </ul>
    </div>
</nav>


<!-- MAIN CONTENT -->
<main
id="content"
class="uk-container uk-container-small uk-margin-medium-top uk-animation-fade">
    <article class="uk-article">
        <?js= content ?>
    </article>
    <footer
    class="uk-container uk-container-small uk-margin-xlarge uk-section-small">
        <p class="uk-text-meta">
            Documentation generated by
            <a href="<?js= links.jsdoc ?>" target="_blank">JSDoc</a>.
            <br />
            Last compiled on
            <time></time> using a
            <a
            href="https://github.com/williampansky/shs-docs"
            target="_blank">custom version</a> of the
            <a href="<?js= links.docdash ?>" target="_blank">docdash</a>
            theme.
        </p>
    </footer>
</main>


<!-- OFFCANVAS NAV -->
<aside
id="offcanvas-overlay"
uk-offcanvas="mode:slide; overlay:true;">
    <div
    id="sideNav"
    class="uk-offcanvas-bar uk-background-secondary">
        <button
        class="uk-offcanvas-close"
        type="button"
        uk-close></button>
        <nav class="uk-nav uk-nav-default">
            <?js if (env.conf.docdash.search) { ?>
                <form class="uk-search uk-search-default uk-width-1-1">
                    <span uk-search-icon></span>
                    <input
                    type="search"
                    id="nav-search"
                    class="uk-search-input"
                    placeholder="Search" />
                </form>
            <?js } ?>

            <?js= this.nav ?>
        </nav>
    </div>
</aside>


<!-- SETTINGS MODAL -->
<div id="settingsModal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button
        class="uk-modal-close-full uk-close-large"
        type="button"
        uk-close></button>
        <?js= this.partial('settings.tmpl') ?>
    </div>
</div>


<!-- SCRIPTS -->
<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>
<script src="js/bundle.js"></script>


<?js if (env.conf.docdash.search || env.conf.docdash.collapse) { ?>
    <script src="js/jquery-3.1.1.min.js"></script>
    
    <?js if (env.conf.docdash.search) { ?>
        <script src="js/search.js"></script>
    <?js } ?>

    <?js if (env.conf.docdash.collapse) { ?>
        <script src="js/collapse.js"></script>
    <?js } ?>
<?js } ?>


<?js if (env.conf.docdash.scripts && env.conf.docdash.scripts.length) {
    for (var i = 0; i < env.conf.docdash.scripts.length; i++) {
        if (env.conf.docdash.scripts[i].indexOf(".css") != -1) {
    ?>
        <link
        type="text/css"
        rel="stylesheet"
        href="<?js= env.conf.docdash.scripts[i] ?>">
    <?js
        } else {
    ?>
        <script src="<?js= env.conf.docdash.scripts[i] ?>"></script>
    <?js
        }
    }
} ?>
</body>
</html>
