<?js
    var data = obj;
    var self = this;
?>

<?js if (data.readme) { ?>
    <section class="uk-section readme">
        <?js= data.readme ?>
    </section>
<?js } ?>

<!-- <?js if (data.readme) { ?> -->
    <section
    id="componentProgress"
    class="uk-section uk-overflow-auto component-progress">
        <table
        class="uk-table uk-table-small uk-table-divider uk-table-middle">
            <caption>Component Development Progress</caption>
            <thead>
                <tr>
                    <th class="uk-width-small uk-text-nowrap">
                        @name
                    </th>
                    <th class="uk-table-expand uk-text-nowrap">
                        @exports
                    </th>
                    <th
                    class="uk-table-shrink uk-text-nowrap uk-text-center">
                        @version
                    </th>
                    <th
                    class="uk-table-shrink uk-text-nowrap uk-text-center">
                        @phase
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
<!-- <?js } ?> -->