<?js
    var data = obj;
?>
    <section class="source-code">
        <pre class="prettyprint source linenums"><code><?js= data.code ?></code></pre>
    </section>
    <link rel="stylesheet" href="../../src/css/prettify.css">
    <script src="../../src/js/prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="../../src/js/linenumber.js"></script>