// ========================================================================
// LAYOUT => FOOTER
// ========================================================================
#content footer.uk-container {
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 640px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (min-width: 960px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}