// ========================================================================
// LAYOUT => GRID
// ========================================================================
body { min-height: 100vh; }

.uk-container > :last-child {
  margin-bottom: 0;
}

.intro {
  & .uk-card-default {
    background: transparent;
    box-shadow: none;
    color: inherit;
  }

  & .uk-card-body {
    padding: 0;
  }
}