// ========================================================================
// ABSTRACTS => DEFINITIONS => COLORS
// ========================================================================

/// This document contains any and all necessary variables and mapping for 
/// this project's color scheme. Feel free to edit the variables as needed. 
:root {
	--color-primary: 	#b02909;
	--color-secondary:#312a29;
	--color-accent: 	#EEC33F;
	--color-success: 	#32d296;
	--color-warning: 	#faa05a;
	--color-danger: 	#f23e60;
}